# Django stuff:
__pycache__/
db.sqlite3
*/migrations/

# Environments
env/
.env
.keys
cart/
media/
orders/
static/
templates/basket
templates/catalogue
templates/order
templates/orders
catalogue/
checkout/
order/
req
req.txt