{% load grid_tags static %}

<!-- Footer -->
{% container 'd-flex justify-content-around border-top mt-5' %}
  {% row 'my-5 row-cols-2 row-cols-sm-2 row-cols-md-4' %}
    {% col %}
      <a href="{% url 'store:index' %}" class="mb-3 link-body-emphasis text-decoration-none">
      <img src="{% static 'img/favicon.ico' %}" alt="" class="logo">
      </a>
    {% endcol %}

    {% col %}
      <h5>Contato</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="https://web.whatsapp.com" target="_blank" class="nav-link p-0 text-body-secondary"><i class="fa-brands fa-whatsapp"></i> (48) 99999-9999</a></li>
        <li class="nav-item mb-2"><a href="mailto:email@admin.com" class="nav-link p-0 text-body-secondary"><i class="fa-solid fa-envelope-circle-check"></i> email@admin.com</a></li>
      </ul>
    {% endcol %}

    {% col %}
      <h5>Endereço</h5>
      <small>Rua Teste, Centro - Ibirama</small>
    {% endcol %}

    {% col %}
      <h5>Horários</h5>
      <small>De Sexta a Domingo, das 19h30 às 23h</small>
    {% endcol %}

  {% endrow %}
{% endcontainer %}
<div class="pt-2 pb-4 text-center border-top border-secundary">
  Desenvolvido por <a href="https://github.com/diegobers" target="_blank"><i class="fa-brands fa-github"></i> Diego Bernardi</a>
</div>