{% extends 'layouts/base.html' %} 

{% load django_bootstrap5 grid_tags static %}

{% block title %}John Pizzas Napolitanas{% endblock %}


{% block content %}
<!-- Pizzas Section -->
<section id="pizzas">
  {% container %}
      {% if pizzas %}
        {% row 'd-flex justify-content-center mx-4' %}
          {% col 'col-sm-12 col-md-10 col-lg-8' %}
            {% for pizza in pizzas %}
              <div class="card w-100 mx-auto shadow" href="#" style="width: 228rem;">
                <img src="{{ pizza.photo_main.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ pizza.name }}</h5>
                  <p class="card-text">{{ pizza.price }}</p>
                  <div class="card-btn text-center">
                    <form method="post" action="{% url 'store:add_cart' %}">
                      {% csrf_token %}
                      <input type="hidden" name="pizza_id" value="{{ pizza.id }}">
                      {% bootstrap_button button_class="btn btn-dark w-50" button_type="submit" content="Comprar" %}
                    </form>
                  </div>
                </div>
              </div>
              <hr class="my-4">  
            {% endfor %}
          {% endcol %}
        {% endrow %}
      {% else %}
        <!-- Null Cart -->
        {% row 'd-flex justify-content-center mt-5' %}
          {% col 'col-md-8 my-2 text-center' %}
            <img src="{% static 'icons/cart-x.svg' %}" width="64" height="64" alt="Sem Produtos">         
            <h2 class="mt-2"> Produtos :(</h2>
            <small>Ainda não foi cadastrado produtos nesta loja!!!</small>
          {% endcol %}
        {% endrow %}
        <!-- Admin Add Product -->
        {% if request.user.is_superuser %}
          {% row 'd-flex justify-content-center mb-5' %}
            {% col 'col-md-8 my-2 text-center' %}
              <a class="btn btn-dark w-50" href="{% url 'store:add_pizza' %}">Adicionar Produto</a>
            {% endcol %}
          {% endrow %}
        {% endif %} 
      {% endif %}
  {% endcontainer %}
</section>
{% endblock content %}