{% extends 'layouts/base.html' %} 

{% load grid_tags static %}

{% block content %}
<!-- Pizzas Section -->
<section id="pizzas" class="py-1">
  {% container %}
    <h3 class="text-center mb-3">Pizzas</h3>
    {% row %}
      {% if pizzas %}
        {% for pizza in pizzas %}
          {% col 'col-sm-4 col-md-4 col-lg-4 col-xl-4 my-2' %}
            <div class="card w-100 mx-auto shadow" href="" style="width: 8rem; height: 14rem;">
              <img src="{{ pizza.photo_1.url }}" style="height: 10rem;" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title">{{ pizza.description }}</h5>
                <p class="card-text">
                  <a href="{% url 'detail' pizza.slug %}" class="stretched-link"></a>
                </p>
              </div>
            </div>  
          {% endcol %}
        {% endfor %}
      {% else %}
        {% col 'col-md-12 my-2' %}
          <p>Pizzas Indisponiveis!!!</p>
        {% endcol %}
      {% endif %}
    {% endrow %}
  {% endcontainer %}
</section>
{% endblock content %}