{% extends 'layouts/base.html' %} 

{% load account static %}
{% load django_bootstrap5 grid_tags %}

{% block title %}Painel{% endblock %}


{% block content %}
<!-- Dashboard Section -->
<section id="edit-user-dashboard" class="py-5">
  {% container %}
    <!-- Main -->
    {% row 'row-cols-1 row-cols-md-2 justify-content-center' %}
      <!-- User Card -->
      {% col 'col-12 col-md-3' %}
        <div class="card border shadow">      
          <div class="card-header text-center py-4">
            <img src="{{ user.photo.url }}" class="card-img-top img-fluid rounded-circle shadow-lg border border-2 border-black" style="width: 96px; height: 96px;" alt="Avatar">
            <h4 class="mb-0 mt-2">{{ user.first_name}}</h4>
            <p class="card-text text-muted"><small class="text-body-secondary">{{ user.email }}</small></p>
          </div>
          <div class="card-body">
            <nav class="list-group">
              <a class="list-group-item d-flex justify-content-between align-items-center text-decoration-none" href="{% url 'store:order_list' %}">
                <span>
                  <img src="{% static 'icons/bag-check.svg' %}" class="me-2" width="24" height="24" alt="">
                  Pedidos
                </span>
              </a>
              <a class="list-group-item d-flex justify-content-between align-items-center text-decoration-none" href="{% url 'accounts:edit_profile' %}">
                <span>
                  <img src="{% static 'icons/person-gear.svg' %}" class="me-2" width="24" height="24" alt="">
                  Perfil
                </span>               
              </a>
              <a class="list-group-item d-flex justify-content-between align-items-center text-decoration-none" href="{% url 'accounts:add_address' %}">
                <span>
                  <img src="{% static 'icons/geo-alt.svg' %}" class="me-2" width="24" height="24" alt="">
                  Endereço
                </span>
              </a>
              <a class="list-group-item d-flex justify-content-between align-items-center text-decoration-none" href="{% url 'accounts:logout' %}">  
                <span>
                  <img src="{% static 'icons/box-arrow-right.svg' %}" class="me-2" width="24" height="24" alt="Sair">
                  Sair
                </span>
              </a>
            </nav>
          </div>
        </div>
      {% endcol %}
      
      {% col 'col-12 col-md-9' %}
        <form method="post">
          {% csrf_token %}

          {% bootstrap_field form.first_name placeholder="..." %}
          {% bootstrap_field form.phone_number placeholder="..." %}

          <div class="text-center">
            {% bootstrap_button button_type="submit" button_class="btn btn-dark w-25" content="Atualizar" %} 
          </div>
        </form> 
      {% endcol %}
    {% endrow %}
  {% endcontainer %}
</section>
{% endblock content %}