{% extends 'layouts/base.html' %} 

{% load allauth account %}

{% load django_bootstrap5 grid_tags static %}

{% block title %}Confirmar Nova Senha{% endblock %}


{% block content %}


  {% container 'mt-5' %}
    {% row 'justify-content-center' %}
      {% col 'col-lg-4 col-md-6' %}

        {% if token_fail %}
            <h1>Bad Token</h1>
        {% else %}
            <h1>Mudar Senha</h1>
        {% endif %}

    {% if token_fail %}
        {% url 'reset_password' as passwd_reset_url %}
        <p>Link de inválido. Peça outro em: <a href="{{ passwd_reset_url }}">Nova redefinição de Senha</a>
        </p>

    {% else %}
      
      	<form method="post" class="mt-4" action="reset_password_key">
            {% csrf_token %}

            {% bootstrap_field form.password1 %}
            {% bootstrap_field form.password2 %}

            {% bootstrap_button button_type="submit" content="OK" %}

        </form>
    
    {% endif %}


      {% endcol %}
    {% endrow %}
  {% endcontainer %}

{% endblock content %}
