{% extends 'layouts/base.html' %} 

{% load allauth account %}

{% load django_bootstrap5 grid_tags static %}

{% block title %}Redefinir Senha{% endblock %}


{% block content %}


  {% container 'mt-5' %}
    {% row 'justify-content-center' %}
      {% col 'col-lg-4 col-md-6' %}



    <h1>Redefinir Senha!</h1>
    <p>Esqueceu sua senha? Digite seu endereço de e-mail abaixo e enviaremos um e-mail para redefinir uma nova senha!</p>
    
      <form method="post" class="mt-4"action="{% url 'accounts:reset_password' %}">
              {% csrf_token %}

              {% bootstrap_field form.email %}
              {% bootstrap_button button_type="submit" content="Enviar" %}
      </form>
 
    

      {% endcol %}
    {% endrow %}
  {% endcontainer %}


{% endblock content %}
