{% extends 'layouts/base.html' %}

{% load django_bootstrap5 grid_tags socialaccount %}

{% block title %}Entrar Na Conta{% endblock %}


{% block content %} 
<section>
  {% container 'mt-5' %}
    {% row 'justify-content-center' %}
      {% col 'col-lg-4 col-md-6' %}
        <div class="card border-0 mb-0">
          <div class="card-header bg-transparent">
            <div class="text-center">
              <a href="{% provider_login_url 'google' %}" class="btn btn-neutral btn-icon btn-sm mb-0">
                <i class="fa-brands fa-google"></i> Google
              </a>
              <a href="#" class="btn btn-primary btn-icon btn-sm mb-0">
                <i class="fa-brands fa-facebook"></i> Facebook
              </a>
            </div>
          </div>
          <div class="card-body px-lg-5 pt-0">
            <form method="post" class="mt-4">
              {% csrf_token %}

              {% bootstrap_field form.login %}
              {% bootstrap_field form.password %}
              {% bootstrap_field form.remember %}

              {% bootstrap_button button_type="submit" content="OK" %}
            </form>
           </div>
        </div>
      {% endcol %}
    {% endrow %}
  {% endcontainer %}

</section>  
{% endblock content %}