{% extends 'base.html' %}


{% block content %}
{% for pizza in pizzas %} 
<div class='container'> 
    <div class="row justify-content-center">
        <div class="col-6 my-2">            
            <div class="card w-100 mx-auto shadow" style="width: 16rem;" href="#">
                <img src="{{ pizza.img.url }}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">{{pizza.title}}</h5>
                    <p class="card-text">{{pizza.content}}</p>
                    <p class="card-text">{{pizza.price}}</p>
                </div>
            </div>   
        </div>
    </div> 
</div>
{% endfor %}   

{% endblock %}