{% extends 'layouts/base.html' %} 

{% load static %}

{% block title %}Carrinho{% endblock %}


{% block content %}


   <h1>Carrinho</h1>
    {% if cart_items %}
        <ul>
            {% for item in cart_items %}
                <li>{{ item.pizza.name }} - Qtd: {{ item.quantity }}</li>
            {% endfor %}
        </ul>
        <form method="post" action="{% url 'store:confirm_cart' %}">
            {% csrf_token %}
            <button type="submit">Finalizar Carrinho</button>
        </form>
    {% else %}
        <p>Carrinho Vazio...</p>
    {% endif %}


  <hr>
  <p>session session_key</p>
  {{ request.session.session_key }}
  <hr>

  <p> csrf COOCKIES</p>
  {{ request.COOKIES }}
  <hr>

{% endblock content %}