{% extends 'layouts/base.html' %}


{% block content %}
<h1>Resumo do Pedido</h1>

   <h1>Seu peido </h1>
    {% if cart_items %}
        <ul>
            {% for item in cart_items %}
                <li>{{ item.pizza.name }} - Qtd: {{ item.quantity }}</li>
            {% endfor %}
        </ul>
    <form method="post" action="{% url 'store:view_order' %}">
        {% csrf_token %}
        <button type="submit">Finalizar</button>
    </form>
    {% else %}
        <p>Order Vazio...</p>
    {% endif %}


{% endblock %}