{% extends 'layouts/base.html' %}

{% load django_bootstrap5 grid_tags static %}

{% block title %}Confirmar Pedido{% endblock %}


{% block content %}
<!-- Cart Confirmation Section -->
<section id="cart-checkout">
  {% container %}
    {% row 'mt-4' %}
      {% col 'col-12 text-start' %}
        <h3 class="text-start ms-2 my-2">Confirmar Pedido</h3>
      {% endcol %}
    {% endrow %}
    {% row 'mx-md-1 mx-lg-4 px-md-1 px-lg-2 ' %}
      {% col 'col-12 col-md-7' %}
        <!-- Cart Items List -->
        <ul class="list-group list-group-lg list-group-flush shadow rounded mb-6">
          {% for item in cart_items %}                
          <li class="list-group-item">
            <div class="row align-items-center">
              <div class="col-3">
                <!-- Img -->
                <img class="img-fluid" src="{{ item.pizza.photo_main.url }}" width="128" height="128" alt="Carrinho Item Imagem">
              </div>
              <div class="col">
                <!-- Product Description -->
                <div class="d-flex mb-2 fw-bold">
                  <h5 class="text-body">{{ item.pizza.name }}</h5>
                  <span class="ms-auto">{{ item.pizza.price }}</span>
                </div>
                <!-- Form Footer -->
                <div class="d-flex align-items-center">
                  <p class="mt-7 fs-sm text-muted">Qtd:{{ item.quantity }}</p>
                  <a class="fs-xs text-gray-400 ms-auto" href="#">
                    <img src="{% static 'icons/x.svg' %}" width="32" height="32" alt="Excluir Item">
                  </a>
                </div>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      {% endcol %}
      {% col 'col-12 col-md-5 col-lg-4 offset-lg-1' %}
        <div class="card text-center mb-3 border-0 bg-light">
            <div class="card-body pt-0">
              <h4 class="card-title fs-lg fw-bold mb-3">Resumo</h4>
                <ul class="list-group list-group-sm shadow rounded">
              {% for item in cart_items %}                
                <li class="list-group-item d-flex">
                  <span>{{ item.pizza.name }}</span>
                  <span class="ms-auto fs-sm">R$ {{ item.get_cart_item_subtotal }}</span>
                </li>
              {% endfor %}                
              <li class="list-group-item d-flex fs-lg fw-bold">
                <span>Subtotal</span>
                <span class="ms-auto fs-sm">R$ {{ total }}
                </span>
              </li>
            </ul>
            <hr class="my-4">          
            <div class="mt-4">
              <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="mb-3">
                  {{ form.is_shipping }}
                </div>
                <div class="mb-3 text-start" id="shipping-address-field">
                  {% bootstrap_field form.shipping_address label_class="mb-0" placeholder="Rua..." %}
                </div>
                <div class="mb-3 text-start">
                  {% bootstrap_field form.payment_method label_class="mb-0" %}
                </div>
                <div class="mb-3">
                  {% bootstrap_field form.observation show_label=False placeholder="Observação..." %}
                </div>
                <div class="mb-3">
                  {% bootstrap_button button_type="submit" button_class="btn btn-dark w-75" content="Finalizar Pedido" %} 
                </div>
              </form>
            </div>
          </div>
        </div>
      {% endcol %}
    {% endrow %}
  {% endcontainer %}
</section>  
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const shippingOptionRadios = document.querySelectorAll('input[name="is_shipping"]');
    const shippingAddressField = document.getElementById('shipping-address-field');

    shippingOptionRadios.forEach(radio => {
      radio.addEventListener('change', function() {
        if (this.value === 'True') {
          shippingAddressField.style.display = 'block';
          shippingAddressField.querySelector('input').required = true;
        } else {
          shippingAddressField.style.display = 'none';
          shippingAddressField.querySelector('input').required = false;
        }
      });
    });

    const selectedOption = document.querySelector('input[name="is_shipping"]:checked');
    
    if (selectedOption) {
      selectedOption.dispatchEvent(new Event('change'));
    }
    
  });
</script>
{% endblock content %}