{% extends 'layouts/base.html' %}

{% load django_bootstrap5 grid_tags static %}

{% block title %}Confirmar Pedido{% endblock %}


{% block content %}
<!-- Cart Confirmation Section -->
<section id="cart-checkout">
  {% container %}
    {% row 'mx-4' %}
      {% col 'col-12 text-start' %}
        <h3 class="mt-2">Concluir Pedido</h3>
      {% endcol %}
    {% endrow %}
    {% row 'd-flex justify-content-center mx-4' %}
      {% col 'col-12 col-md-7' %}
        <!-- Cart Items List -->
        <ul class="list-group list-group-flush shadow-lg">
          {% for item in cart_items %}                
          <li class="list-group-item border-1 rounded-0">
            <div class="row align-items-center">
                <div class="col-3">
                  <!-- Img -->
                  <img class="img-fluid" src="{{ item.pizza.photo_main.url }}" width="128" height="128" alt="Carrinho Item Imagem">
                </div>
                <div class="col">
                  <!-- Product Description -->
                  <div class="d-flex mb-2 fw-bold">
                    <h5 class="text-body">{{ item.pizza.name }}</h5>
                    <span class="ms-auto">{{ item.pizza.price }}</span>
                  </div>
                  <!-- Form Footer -->
                  <div class="d-flex align-items-end">
                    <p class="text-muted mt-2 mb-0 pb-2">Qtd:{{ item.quantity }} </p>
                    <form method="post" action="{% url 'store:add_cart' %}">
                      {% csrf_token %}
                      <input type="hidden" name="pizza_id" value="{{ item.pizza.id }}">
                      <input type="image" src="{% static 'icons/plus.svg' %}" width="32" height="32" alt="Adicionar Item">
                    </form>
                    <form class="ms-auto" method="post" action="{% url 'store:rm_item_cart' %}">
                      {% csrf_token %}
                      <input type="hidden" name="item_id" value="{{ item.id }}">
                      <input type="image" src="{% static 'icons/x.svg' %}" width="32" height="32" alt="Excluir Item">
                    </form> 
                  </div>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
          {% row 'text-end' %}
            {% col 'col-12 my-2' %} 
              <form action="{% url 'store:clean_cart' %}" method="post">
                {% csrf_token %}
                  {% bootstrap_button button_class="btn btn-link px-0 text-body" button_type="submit" content="Limpar Carrinho" %}
              </form>
            {% endcol %}
          {% endrow %}
          {% row 'd-flex justify-content-start' %}
            {% col 'col-12' %}
              <form method="post" action="{% url 'store:apply-coupon' %}" novalidate>
                {% csrf_token %}
                {% row 'd-flex justify-content-center' %}
                  {% col 'col-8' %}
                    {% bootstrap_field couponform.code field_class="border-1 rounded-0 shadow-lg w-100" show_label=False placeholder="Cupom...." %}
                  {% endcol %}                  
                  {% col 'col-4' %}
                    {% bootstrap_button button_class="btn btn-dark rounded-0 w-100" button_type="submit" content="Aplicar" %}
                  {% endcol %}
                {% endrow  %}
              </form>
            {% endcol %}
          {% endrow %}
      {% endcol %}
      {% col 'col-12 col-md-5 col-lg-4 offset-lg-1' %}
        <div class="card text-center border-1 rounded-0 shadow-lg mb-4">
            <div class="card-body">
              <h4 class="card-title fw-bold my-2">Resumo</h4>
              <ul class="list-group list-group-flush">
                {% for item in cart_items %}                
                  <li class="list-group-item d-flex">
                    <span>{{ item.pizza.name }}</span>
                    <span class="ms-auto fs-sm">R$ {{ item.get_cart_item_subtotal }}</span>
                  </li>
                {% endfor %}
                {% if cart_id.coupon %}
                  <li class="list-group-item d-flex fs-lg fw-bold">
                    <span>Desconto </span>
                    <span class="ms-auto text-muted">- {{ cart_id.coupon.amount|floatformat }} %
                    </span>
                  </li>
                {% endif %}
                <li class="list-group-item d-flex fs-lg fw-bold">
                  <span>Subtotal:</span>
                  <span class="ms-auto fs-sm">R$ {{ total|floatformat:2 }}
                  </span>
                </li>
              </ul>
            <hr class="my-4">          
            <div class="mt-4">
              <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="mb-3">
                  {{ form.is_shipping }}
                </div>
                <div class="mb-3 text-start" id="shipping-address-field">
                  {% bootstrap_field form.shipping_address label_class="mb-0" placeholder="Rua..." %}
                </div>
                <div class="mb-3 text-start">
                  {% bootstrap_field form.payment_method label_class="mb-0" %}
                </div>
                <div class="mb-3">
                  {% bootstrap_field form.observation show_label=False placeholder="Observação..." %}
                </div>
                <div class="mb-3">
                  {% bootstrap_button button_type="submit" button_class="btn btn-dark w-75" content="Confirmar" %} 
                </div>
              </form>
            </div>
          </div>
        </div>
      {% endcol %}
    {% endrow %}
  {% endcontainer %}
</section>  
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const shippingOptionRadios = document.querySelectorAll('input[name="is_shipping"]');
    const shippingAddressField = document.getElementById('shipping-address-field');

    shippingOptionRadios.forEach(radio => {
      radio.addEventListener('change', function() {
        if (this.value === 'True') {
          shippingAddressField.style.display = 'block';
          shippingAddressField.querySelector('input').required = true;
        } else {
          shippingAddressField.style.display = 'none';
          shippingAddressField.querySelector('input').required = false;
        }
      });
    });

    const selectedOption = document.querySelector('input[name="is_shipping"]:checked');
    
    if (selectedOption) {
      selectedOption.dispatchEvent(new Event('change'));
    }
    
  });
</script>
{% endblock content %}