{% extends 'layouts/base.html' %}

{% load django_bootstrap5 grid_tags %}

{% block title %}Confirmar Pedido{% endblock %}


{% block content %}
<!-- Cart Confirm Section -->
<section id="cart_confirm" class="py-1">
  {% container %}
    <h1 class="mb-3">Confirmar Carrinho</h1>
    {% row %}
      {% col 'col-8 my-2' %}
        <h1 class="mb-3">Items</h1>
        {% if cart_items %}
          <div class="table-responsive">
            <table class='table table-striped table-sm table-md table-lg table-xl'> 
              <thead>
                <tr>
                  <th>Descrição</th>
                  <th>Qtd</th>
                  <th>Valor</th>
                </tr> 
              </thead>  
              <tbody>
                {% for item in cart_items %}
                  <tr>
                    <td>
                      <p>{{ item.pizza.name }}</p>
                    </td>
                    <td>
                      <p>{{ item.quantity }}</p>
                    </td>
                    <td>
                      <p>{{ item.pizza.price }}</p>
                    </td> 
                  </tr>
                {% endfor %}             
              </tbody>
            </table> 
          </div>
        {% else %}
          <p>Carrinho Vázio...</p>
        {% endif %}
      {% endcol %}

      {% col 'col-4 my-2' %}
      <h3>Resumo Carrinho</h3>
        <form method="post" action="{% url 'store:view_order' %}">
          {% csrf_token %}
          {% bootstrap_button button_type="submit" content="Finalizar" %}        
        </form>
      {% endcol %}

    {% endrow %}
  {% endcontainer %}
</section>  
{% endblock content %}