{% extends 'layouts/base.html' %} 

{% load account static %}
{% load django_bootstrap5 grid_tags %}

{% block title %}Painel{% endblock %}


{% block content %}
<!-- Dashboard Section -->
<section id="user-dashboard" class="py-5">
  {% container %}
    {% row 'justify-content-center' %}
      {% col 'col-lg-4' %}
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="{{ user.photo.url }}" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h2 class="my-3">{{ user.first_name}}</h2>
            <p class="text-muted mb-4">{{ user.email }}</p>
            <div class="d-flex justify-content-center mb-2">
              <a href="{% url 'accounts:edit_profile' %}" class="btn btn-primary">Editar Usuário</a>
              <a href="{% url 'accounts:add_address' %}" class="btn btn btn-outline-primary ms-1">Alterar Endereço</a> 
              {% if request.user.is_superuser %}
                <a href="{% url 'store:add_pizza' %}" class="btn btn-primary">Add Pizza</a>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            {% row %}
              {% col 'col-sm-3' %}
                <p class="mb-0">Nome</p>
              {% endcol %}
              {% col 'col-sm-9' %}
                <p class="text-muted mb-0">{{ user.first_name }}</p>
              {% endcol %}
            {% endrow %}
            <hr>
            {% row %}
              {% col 'col-sm-3' %}
                <p class="mb-0">Email</p>
              {% endcol %}
              
              {% col 'col-sm-9' %}
                <p class="text-muted mb-0">{{ user.email }}</p>
              {% endcol %}
            {% endrow %}
            <hr>
            {% row %}
              {% col 'col-sm-3' %}
                <p class="mb-0">Telefone</p>
              {% endcol %}
        
              {% col 'col-sm-9' %}
                <p class="text-muted mb-0">{{ user.phone_number }}</p>
              {% endcol %}
            {% endrow %}
            <hr>
            {% row %}
              {% col 'col-sm-3' %}
                <p class="mb-0">Endereço</p>
              {% endcol %}
              
              {% col 'col-sm-9' %}
                <p class="text-muted mb-0">{{ user.address }}</p>
              {% endcol %}
            {% endrow %}
          </div>
        </div>
      {% endcol %}
      {% col 'col-lg-8' %}
        {% if orders %}
          <h1>Seus Pedidos...</h1>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>ID</th>
                <th>Status</th>
                <th>Total</th>
              </tr>
              </thead>
              {% for order in orders %}
                <tr>
                  <td><h5>{{ order.id }}</h5></td>
                  <td>{{ order.status }}</td>
                  <td>{{ order.total }}</td>
                </tr>
              {% endfor %}
            </table>
          </div> 
        {% else %}
            <p>Nenhum Pedido...</p>
        {% endif %}
      {% endcol %}
    {% endrow %}
  {% endcontainer %}
</section>
{% endblock content %}