{% extends 'layouts/base.html' %} 

{% load account static %}
{% load django_bootstrap5 grid_tags %}

{% block title %}Painel{% endblock %}


{% block content %}


   <h1>Painel</h1>

   <p>{{ user }}</p>    
   <p>{{ user.email}}</p>    


          
      <form method="post">
         
          {% csrf_token %}
          {% bootstrap_form form %}
          {% bootstrap_button button_type="submit" content="Finalizar" %} 
      </form>
  <hr>
  <p>session session_key</p>
  {{ request.session.session_key }}
  <hr>

  <p> csrf COOCKIES</p>
  {{ request.COOKIES }}
  <hr>

{% endblock content %}