{% extends 'layouts/base.html' %}

{% load grid_tags static %}

{% block title %}Painel de Usuário{% endblock %}


{% block content %}

{% if request.user.is_superuser %}
<!-- Admin Section -->
<section id="admin-dashboard" class="py-5">
  {% container %}
    <!-- Header -->
    {% row %}
      {% col 'col-12 text-center' %}
        <h1 class="mb-4 py-2">Painel - Admin</h1>
      {% endcol %}
    {% endrow %}
    <!-- Main -->
    {% row 'row-cols-1 row-cols-md-2 justify-content-center' %}
      <!-- Add Product -->
      {% col 'col-12 col-md-3' %}
        <div class="text-center">            
          <a href="{% url 'store:add_pizza' %}" class="btn btn-dark w-100">Adicionar Produto</a>
        </div>
      {% endcol %}
    {% endrow %}
  {% endcontainer %}
</section>

{% else %}

<!-- User Section -->
<section id="user-dashboard" class="py-5">
  {% container %}
    <!-- Order Header -->
    {% row %}
      {% col 'col-12 text-center' %}
        <h1 class="mb-4 py-2">Seus Pedidos</h1>
      {% endcol %}
    {% endrow %}
    <!-- Main -->
    {% row 'row-cols-1 row-cols-md-2 justify-content-center' %}
      <!-- User Card -->
      {% col 'col-12 col-md-3' %}
        <div class="card border shadow">      
          <div class="card-header text-center py-4">
            <img src="{{ user.photo.url }}" class="card-img-top img-fluid rounded-circle shadow-lg border border-2 border-black" style="width: 96px; height: 96px;" alt="Avatar">
            <h4 class="mb-0 mt-2">{{ user.first_name}}</h4>
            <p class="card-text text-muted"><small class="text-body-secondary">{{ user.email }}</small></p>
          </div>
          <div class="card-body">
            <nav class="list-group">
              <a class="list-group-item d-flex justify-content-between align-items-center text-decoration-none" href="{% url 'store:order_list' %}">
                <span>
                  <img src="{% static 'icons/bag-check.svg' %}" class="me-2" width="24" height="24" alt="">
                  Pedidos
                </span>
              </a>
              <a class="list-group-item d-flex justify-content-between align-items-center text-decoration-none" href="{% url 'accounts:edit_profile' %}">
                <span>
                  <img src="{% static 'icons/person-gear.svg' %}" class="me-2" width="24" height="24" alt="">
                  Perfil
                </span>               
              </a>
              <a class="list-group-item d-flex justify-content-between align-items-center text-decoration-none" href="{% url 'accounts:add_address' %}">
                <span>
                  <img src="{% static 'icons/geo-alt.svg' %}" class="me-2" width="24" height="24" alt="">
                  Endereço
                </span>
              </a>
              <a class="list-group-item d-flex justify-content-between align-items-center text-decoration-none" href="{% url 'accounts:logout' %}">  
                <span>
                  <img src="{% static 'icons/box-arrow-right.svg' %}" class="me-2" width="24" height="24" alt="Sair">
                  Sair
                </span>
              </a>
            </nav>
          </div>
        </div>
      {% endcol %}
      <!-- Orders Card -->
      {% col 'col-12 col-md-9' %}
        {% if orders %}
          {% for order in orders %}
            <div class="card mb-4 shadow">
              <div class="card-body pb-0">
                <div class="card">
                  <div class="card-body p-4 pb-2">
                    {% row %}
                      {% col 'col-6 col-lg-3' %}
                        <h6 class="text-muted">Código</h6>
                        <p class="mb-lg-0 fs-sm fw-bold">#{{ order.id }}</p>
                      {% endcol %}

                      {% col 'col-6 col-lg-3' %}
                        <h6 class="text-muted">Data</h6>
                        <p class="mb-lg-0 fs-sm fw-bold">{{ order.created_at }}</p>
                      {% endcol %}
                      
                      {% col 'col-6 col-lg-3' %}
                        <h6 class="text-muted">Status</h6>
                        <p class="mb-lg-0 fs-sm fw-bold">{{ order.status }}</p>
                      {% endcol %}
                      
                      {% col 'col-6 col-lg-3' %}
                        <h6 class="text-muted">Valor Total:</h6>
                        <p class="mb-lg-0 fs-sm fw-bold">{{ order.total }}</p>
                      {% endcol %}
                    {% endrow %}
                  </div>
                </div>
              </div>
              <div class="card-footer">
                {% row 'd-flex align-items-center' %}
                  <!-- Order Items -->
                  {% col 'col-12 col-lg-6' %}
                    
                    <ol>
                      {% for item in order.order_items %}
                        
                          {% row %}
                            
                            <table class="table">
                              <tbody>
                                <tr>
                                  <td>
                                      <img class="img-fluid" src="{{ item.pizza.photo_main.url }}" width="32" height="32" alt="Carrinho Item Imagem">
                                  

                                  </td>

                                  <td>
                                      <li>
                                          
                                        {{ item.pizza.name }}
                                        
                                      </li>

                                  </td>


                                </tr>
                              </tbody>
                            </table>
                                


                          {% endrow %}
                        
                      {% endfor %}
                    </ol>
                  {% endcol %}
                  <!-- Buttom Detail -->
                  {% col 'col-12 col-lg-6' %}
                    {% row 'justify-content-center m-2' %}
                      <a class="btn btn-dark w-50" href="{% url 'store:order_detail' order.id %}">Detalhes</a>
                    {% endrow %}
                  {% endcol %}
                {% endrow %}
              </div>
            </div>
          {% endfor %}
        {% else %}
          <!-- Empty Context -->
          {% row 'd-flex justify-content-center mt-5' %}
            {% col 'col-md-8 my-2 text-center' %}
              <img src="{% static 'icons/cart-x.svg' %}" width="64" height="64" alt="Carrinho Vazio">         
              <h2 class="mt-2">Nenhum Pedido...</h2>
              <small>Faça seu primeiro pedido!</small>
            {% endcol %}
          {% endrow %}
          {% row 'd-flex justify-content-center mb-5' %}
            {% col 'col-md-8 my-2 text-center' %}
              <a class="btn btn-dark text-center w-50" href="{% url 'store:index' %}">Fazer Pedido</a>
            {% endcol %}
          {% endrow %}
        {% endif %}
      {% endcol %}
    {% endrow %}
  {% endcontainer %}
</section>
{% endif %}

{% endblock content %}