{% extends 'layouts/base.html' %}

{% load grid_tags %}

{% block title %}Pedidos{% endblock %}


{% block content %}

<!-- Orders Section -->
<section id="order" class="py-5">
  {% container %}
    {% row %}  
      {% col 'col-sm-12 col-md-6' %}
        {% if orders %}
          <h1>Todos os Pedidos!</h1>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>ID</th>
                <th>Status</th>
                <th>Total</th>
              </tr>
              </thead>
              {% for order in orders %}
                <tr>
                  <td><h5>{{ order.id }}</h5></td>
                  <td>{{ order.status }}</td>
                  <td>{{ order.total }}</td>
                </tr>
              {% endfor %}
            </table>
          </div> 
        {% else %}
            <p>Nenhum Pedido...</p>
        {% endif %}
      {% endcol %}
    {% endrow %}
  {% endcontainer %}
</section>
{% endblock content %}