{% extends 'base.html' %} 


{% block content %}
<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}">
            <i class="fa-solid fa-house"></i> Home
          </a>
        </li>
        <li class="breadcrumb-item active"> Lista Produtos</li>
      </ol>
    </nav>
  </div>
</section>

<!-- Ads Section -->
<section id="pizzas" class="py-4">
  <div class="container mx-auto">
    <div class="row">
      {% if pizzas %}
	 	    <div class='my-4 mx-auto col-sm col-md col-lg col-xl'>
		      <div class='card card-body my-5 w-75 mx-auto shadow'> 
		        <h4 class='font-weight-bold text-center font-italic'>Todas Pizzas</h4>    
		        <hr>
		        <div class="table-responsive"> 
		          <table class='table table-sm table-md table-lg table-xl'> 
		            <thead>
		              <tr>
		                <th>Descrição</th>
		              </tr> 
		            </thead>  
          			<tbody>
      						{% for pizzas in pizzas %}
            				<tr>
			                <td>
			                	<a href="{% url 'pizza' pizza.id %}">{{pizza.description}}</a>
			                </td> 
						        </tr>
      						{% endfor %}
          			</tbody>
        			</table> 
      			</div>  
					</div> 
    		</div>    
	    {% else %}
	      <div class="col-md-12">
	        <p>Sem Pizzas!!!  :(</p>
	      </div>
	    {% endif %}
	  </div>
	</div>
</section>
{% endblock %}