{% extends 'base.html' %} 


{% block content %}
<div class='container'> 
  <div class='row'>  
    <div class='col-sm-4 col-md-4 col-lg-4 col-xl-4 my-2'> 
      <div class="card w-100 mx-auto shadow" style="width: 16rem;" href="#">
        <img src="{{pizza.photo_main.url}}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">{{pizza.description}}</h5>
          <p class="card-text">{{pizza.price}}</p>
        </div>
      </div>  
    </div>
  </div> 
</div>
{% endblock %}